[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nemoguardrails = "*"
openai = "*"
python-dotenv = "*"
langchain-openai = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
spacy = "*"
langchain-ibm = "*"

[dev-packages]

[requires]
python_version = "3.10"
