[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nemoguardrails = "0.9.*"
openai = "1.*"
python-dotenv = "1.*"
langchain-openai = "0.1.*"
debugpy = "*"
presidio-analyzer = "2.*"
presidio-anonymizer = "2.*"
spacy = "3.*"
langchain-ibm = "0.1.*"

[dev-packages]

[requires]
python_version = "3.10"
